@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This simple application is used to demonstrate containers. It will return the calculated geolocation of an IP address.</p>
